body{
    background: rgb(7,65,158);
    background: linear-gradient(90deg, rgba(7,65,158,1) 0%, rgba(0,212,255,1) 100%);
}

h1{
    font-family: Miracle Day;
    color : cyan;
    font-size: 70px;
    font-weight: 200;
}